footer.footer
	.row.text-center
		p Designed and developed by <a href="#">DesignByCode</a>


script(src="js/app.js")
script. 
	$('#menu-button').offCanvasMenu();
	$('window').smoothMouseScroll({
		'speed' : 700,
		'distance': 250,
		'easing': 'easeOutQuad'
		});
	
	
