
@function breakpoint-next($name, $bp: $breakpoints, $bp-names: map-keys($bp))
	$i: index($bp-names, $name)
	@return if($i < length($bp-names), nth($bp-names, $i + 1), null)


//This function checks to see if the xs exist and then ignoring the media query
@function breakpoint-min($name, $bp: $breakpoints)
	$min: map-get($bp, $name)
	@return if($min != 0, $min, null)


@function breakpoint-max($name, $bp: $breakpoints)
	$next: breakpoint-next($name, $bp)
	@return if($next, breakpoint-min($next, $bp) - 0.1, null)




=media-up($name, $bp: $breakpoints)
	$min: breakpoint-min($name, $bp)
	@if $min
		@media (min-width: $min)
			@content
	@else
		@content


=media-down($name, $bp: $breakpoints)
	$max: breakpoint-max($name, $bp)
	@if $max
		@media (max-width: $max)
			@content
	@else
		@content


=media-only($name, $bp:$breakpoints)
	+media-up($name, $bp)
		+media-down($name, $bp)
			@content
