<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
body
	include inc/navbar.jade

	.main-wrapper
		.hero
			.hero-wrapper
				hgroup
					a(href="index.html")
						h1 FRAMER
						h4 RESPONSIVE GRID


	.wrapper.padding
		.row
			.sm-col-12
				h1.text-center Home Page

		.row
			.md-col-4
				.circle
					i.fa.fa-bar-chart-o
				h2.text-center Code Snippets
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iusto autem voluptatibus cupiditate eum qui veniam illum a, sequi quas deserunt illo praesentium veritatis hic sit, accusantium aliquam voluptatum? Labore tempore ut illum, at, minima provident quidem saepe quam eaque. Labore adipisci, dolore esse ullam rerum, inventore earum iusto blanditiis iure nemo beatae architecto odio culpa harum ad iste eveniet pariatur temporibus alias eius velit veritatis, nobis eos! In, error repellat. Quisquam optio, aspernatur dignissimos quia quibusdam delectus est, in dolorum laborum ad neque iure aut asperiores at magni. Maxime impedit ex hic obcaecati quaerat, harum. Odio hic, libero, consequatur ratione, quas, ab aperiam modi incidunt perspiciatis obcaecati architecto nihil nulla veritatis eum sed! Aspernatur repudiandae quisquam qui, placeat nisi?
			.md-col-4
				.circle
					i.fa.fa-github
				h2.text-center Code Snippets
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iusto autem voluptatibus cupiditate eum qui veniam illum a, sequi quas deserunt illo praesentium veritatis hic sit, accusantium aliquam voluptatum? Labore tempore ut illum, at, minima provident quidem saepe quam eaque. Labore adipisci, dolore esse ullam rerum, inventore earum iusto blanditiis iure nemo beatae architecto odio culpa harum ad iste eveniet pariatur temporibus alias eius velit veritatis, nobis eos! In, error repellat. Quisquam optio, aspernatur dignissimos quia quibusdam delectus est, in dolorum laborum ad neque iure aut asperiores at magni. Maxime impedit ex hic obcaecati quaerat, harum. Odio hic, libero, consequatur ratione, quas, ab aperiam modi incidunt perspiciatis obcaecati architecto nihil nulla veritatis eum sed! Aspernatur repudiandae quisquam qui, placeat nisi?
			.md-col-4
				.circle
					i.fa.fa-code
				h2.text-center Code Snippets
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iusto autem voluptatibus cupiditate eum qui veniam illum a, sequi quas deserunt illo praesentium veritatis hic sit, accusantium aliquam voluptatum? Labore tempore ut illum, at, minima provident quidem saepe quam eaque. Labore adipisci, dolore esse ullam rerum, inventore earum iusto blanditiis iure nemo beatae architecto odio culpa harum ad iste eveniet pariatur temporibus alias eius velit veritatis, nobis eos! In, error repellat. Quisquam optio, aspernatur dignissimos quia quibusdam delectus est, in dolorum laborum ad neque iure aut asperiores at magni. Maxime impedit ex hic obcaecati quaerat, harum. Odio hic, libero, consequatur ratione, quas, ab aperiam modi incidunt perspiciatis obcaecati architecto nihil nulla veritatis eum sed! Aspernatur repudiandae quisquam qui, placeat nisi?



	include inc/footer.jade
