<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport",content="width=device-width, initial-scale=1.0" )
	title Document
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="prettify/src/prettify.css")
body
	include inc/navbar.jade

	//- .main-wrapper
	//- 	.hero
	//- 		.hero-wrapper
	//- 			hgroup
	//- 				a(href="index.html")
	//- 					h1 FRAMER
	//- 					h4 RESPONSIVE GRID



	.parallax-container
		.parallax-frame
			.parallax-bg
			.parallax-text
				h1 FRAMER.io

	.container.padding 
		.row 
			.col-4.md-col-6
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea rem minus eos, molestias, voluptatem est repudiandae laborum? Maxime aperiam quod illo nobis, eos saepe inventore tempore, ipsam accusantium doloremque, fugit quia voluptates in itaque sapiente doloribus! Odio hic laudantium repellat fugit maxime esse, nobis necessitatibus impedit, ut accusamus possimus.
			.col-4.md-col-6
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea rem minus eos, molestias, voluptatem est repudiandae laborum? Maxime aperiam quod illo nobis, eos saepe inventore tempore, ipsam accusantium doloremque, fugit quia voluptates in itaque sapiente doloribus! Odio hic laudantium repellat fugit maxime esse, nobis necessitatibus impedit, ut accusamus possimus.
			.col-4.md-col-6
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea rem minus eos, molestias, voluptatem est repudiandae laborum? Maxime aperiam quod illo nobis, eos saepe inventore tempore, ipsam accusantium doloremque, fugit quia voluptates in itaque sapiente doloribus! Odio hic laudantium repellat fugit maxime esse, nobis necessitatibus impedit, ut accusamus possimus.

	include inc/footer.jade
	script.
		$('.parallax-container').parallax({'parallaxFrame':'.parallax-frame','parallaxWindow':'.parallax-bg'});
