<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport",content="width=device-width, initial-scale=1.0" )
	title Document
	link(rel="stylesheet", href="css/style.css")
body.testbody
	include inc/navbar.jade			
	.wrapper.padding
		.rows
			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet,officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa  sit amet, consectetur adipisicing elit. Laudantium, ut inventore, fugit aliquam aperiam velit minus culpa.

			.md-col-4
				.paper Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut inventore, repudiandae officia ipsa fugit aliquam aperiam velit minus culpa.



	include inc/footer.jade

	script.
		(function(){
			var mas = $('.rows').masonry();

		})();
