nav.nav-wrapper
	a(href="#", id="close-nav")
		i.fa.fa-fw.fa-close
	.icon-list
		ul
			li
				a(href="index.html")<i class="fa fa-fw fa-star-o"></i> <span>Home</span>
			li
				a(href="grid.html")<i class="fa fa-fw fa-columns"></i> <span>Layout</span>
			li
				a(href="componants_layout.html")<i class="fa fa-fw fa-bell-o"></i> <span>Componants</span>
			li
				a(href="#")<i class="fa fa-fw fa-connectdevelop"></i> <span>Sections</span>
			li
				a(href="test.html")<i class="fa fa-fw fa-cloud"></i> <span>Box Layout</span>
			li
				a(href="parallax.html")<i class="fa fa-fw fa-arrows"></i> <span>Parallax</span>
			li
				a(href="#")<i class="fa fa-fw fa-bar-chart-o"></i> <span>About Us</span>


	.morph-shape#morph-shape(data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z").
		<svg id="svg-menu" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
			<path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
		</svg>

nav.navbar.navbar-fixed
	button#menu-button Menu
