

/* Navigation classed*/
#menu-button
	position: fixed
	top: 15px
	left: 15px
	background: transparent
	color: transparent
	height: 30px
	width: 30px
	border: none
	outline: none
	z-index: 9999
	transition: all 0.3s ease
	transform: translate3d(0px,0px,0)
	cursor: pointer
	&::before
		content: ""
		position: absolute
		top: 5px
		left: 5px
		right: 5px
		bottom: 5px
		background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%)
	&:hover
		color: #fff
		text-indent: 30px
		height: 35px

.navbar
	position: relative
	background: $primary-color
	width: 100%
	height: $navbar-height
	+grid-box-shadow

	.navbar-logo, .navbar-logo a
		float: left
		color: $primary-on-text
		margin: 0
		padding: 0 14px
		line-height: $navbar-height
		&:hover
			text-decoration: none
			opacity: 0.8

	.navbar-link-wrap
		float: right
		background: $primary-color
		display: block
		+media-down(lg)
			display: none
			//height: 0
			overflow: hidden
			position: absolute
			top: $navbar-height
			width: 100%

		ul
			list-style: none
			padding: 0 14px
			margin: 0
			li
				display: block
				float: left
				overflow: hidden
				height: $navbar-height
				+media-down(lg)
					width: 100%
					text-align: center
				a
					color: color(white)
					transition: all 0.25s cubic-bezier(0.49,-0.84,0.45,1.85)
					line-height: $navbar-height
					display: block
					padding-left: 14px
					padding-right: 14px
					&:hover
						text-decoration: none
						background: color(white)
						color: $primary-color
				input[type=text]
					display: block
					height: $navbar-height
					border: solid $primary-color 10px
					&:focus
						background: #fff
						color: $primary-color
			.active
				a
					background: color(white)
					color: $primary-color

	ul.clone-menu
		//overflow: hidden
		li
			a
				color: color(white)
				line-height: $navbar-height
				display: block
				padding-left: 14px
				padding-right: 14px
				transition: all 0.5s cubic-bezier(0.49,-0.84,0.45,1.85)
				transform: translateY(-$navbar-height)
			&:hover
				a
					text-decoration: none
					transform: translateY(0px)

			a.clone-anchor
				color: color(purple)
				background: color(white)

		.active
				a
					background: color(white)
					text-decoration: none
					transform: translateY(0px)

		/*Nav Icon */

	.navbar-menu
		position: absolute
		top: 15px
		right: 15px
		background: transparent
		color: transparent
		height: 30px
		width: 30px
		border: none
		outline: none
		transition: all 0.3s ease
		transform: translate3d(0px,0px,0)
		cursor: pointer
		display: none
		+media-down(lg)
			display: block
		&::before
			content: ""
			position: absolute
			top: 5px
			left: 5px
			right: 5px
			bottom: 5px
			background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%)
		&:hover
			transform: rotate(90deg)

	/*Nav Icon */





.navbar-fixed
	z-index: 99
	position: fixed
	top: 0
	left: 0
	right: 0
	ul
		margin: 0
		list-style: none
		li
			display: inline-block
			line-height: $navbar-height
			margin: 0 1em
			a
				color: $secondary-on-text
				&:hover
					text-decoration: none
					color: rgba($secondary-on-text, 0.5)

#close-nav
	position: absolute
	top: 15px
	right: 0px
	font-size: 28px
	color: color(white)
	transition: transform 0.3s ease-in-out
	transform: rotate(0deg)
	&:hover
		transform: rotate(180deg)

.overlay
	position: relative
	z-index: 990
	width: 100%
	&::after
		position: fixed
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(color(darkgray), 0.75)
		z-index: 1000
		display: block
		transform: translate3d(0, 0,0)
		transition: transform 0.5s ease
